
<div style="text-align: center;">

<h1 class="w3-text-orange" class="w3-jumbo" class = w3-section style="text-shadow:1px 1px 0 #444">COMPLOTS</h1>

	<p>Tu veux connaître la réponse à la question secrète de l'univers ?</p>

<img src = "https://media.giphy.com/media/W7gYes8gffrS8/giphy.gif" class = w3-section alt = "secret" >
<p>Clique ici !<%= link_to "Secrete Page",   '/static_pages/secret_page' %></p>
</div>